body, html {
    margin:0;
    height:100%;
}
body{
    display:flex;
    flex-direction:column;
}
header{
    z-index:9999;
    height:15vh;
    background-color:#250429e0;
    box-shadow: 
        0 0 10px lightblue,
        0 0 20px lightblue;
}
main{
    flex: 1;
    overflow-y:scroll;
    scrollbar-width:none;
    background-color:#030214;
}
footer{
    position:fixed;
    width:100%;
    height:3vh;
    bottom:0px;
}

/*<>
HTML SHI DONE
<>*/

/*<>
MAIN SHI
<>*/
#dashboardShell{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
}
#dashboard{
    width:85vw;
    height:70vh;
    border-radius:15px;
    border:5px solid lightblue;
    background-color:#02000c;
    font-family:monospace;
}
#dashboard h2{
    margin-top: 0px;
    text-align: center;
    font-size: 35px;
    color: lightblue;
}
#dashboard p{
    font-size:20px;
    color:lightblue;
    margin:1vw;
}
/*<>
MAIN SHI DONE
<>*/

/*<>
FOOTER SHI
<>*/
#devPhoneShell{
    top: 93%;
    right: 10vw;
    position: fixed;
    display: flex;
    width: 30vw;
    height: 75vh;
}
#devPhoneFrame{
    display:flex;
    position:relative;
    width:99%;
    height:99%;
    border:2vh solid black; border: 2vw solid black;
    border-radius:15px;
    cursor:pointer;
    background:none;
}
#devPhoneFrame h3{
    right: 34%;
    top: -10%;
    color: red;
    z-index: 99999;
    position: absolute;
    text-shadow:
        0 0 10px red,
        0 0 15px red;
}
#devPhone {
    z-index: 9999;
    flex: 1;
    flex-direction:row;
    padding-top:20px;
    background: grey;
    max-width:28vw;
}
#devPhone img{
    width:5vw;
    height:10vh;
    border-radius:50%;
}

#devPhoneTopbar{
    height: 3vh;
    position: absolute;
    top: 0px;
    background-color: dimgrey;
    text-align: center;
    width: 100%;
}
#devPhoneTopbar p{
    position:relative;
    top:-16px;
}
.phoneApp{
    width: 5vw;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
}


.phoneUpRun{
    animation: phoneUp 1s ease;
}
.phoneDownRun{
    animation: phoneDown 1s ease;
}
.phoneUp{
    transform:translateY(-102%);
}
.phoneDown{
    transform:translateY(0%);
}
@keyframes phoneUp{
    0% {
        transform:translateY(-1%);
    }
    
    100% {
        transform:translateY(-102%);
    }
}
@keyframes phoneDown{
    0% {
        transform:translateY(-102%);
    }
    
    100% {
        transform:translateY(0%);
    }
}

/*<>
APPS
<>*/
#notesTopbar{
        width: 100%;
    position: relative;
    height: 7%;
    top: -1px;
    background-color: #413c3c;
}

#addNoteBtn{
    position: absolute;
    right: 0px;
    height: 100%;
    width: 10%;
    top: 0px;
    background:none;
    outline:none;
    border:none;
    font-size: 23px;
}
#addNoteBtn:hover{
    position: absolute;
    right: 0px;
    height: 100%;
    width: 10%;
    top: 0px;
    font-size: 23px;
    background:rgb(70, 69, 69);
    outline:none;
    border:none;
}
#noteTitleIn::placeholder{
    color:black;
}
