body, html {
    margin:0;
    height:100%;
}
body{
    display:flex;
    flex-direction:column;
}
header{
    z-index:9999;
    height:15vh;
    background-color:#250429e0;
    box-shadow: 
        0 0 10px lightblue,
        0 0 20px lightblue;
}
main{
    flex: 1;
    overflow-y:scroll;
    scrollbar-width:none;
    background-color:#030214;
}
footer{
    position:fixed;
    width:100%;
    height:3vh;
    bottom:0px;
}

/*<>
HTML SHI DONE
<>*/

/*<>
MAIN SHI
<>*/
#dashboardShell{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
}
#dashboard{
    width:85vw;
    height:70vh;
    border-radius:15px;
    border:5px solid lightblue;
    background-color:#02000c;
    font-family:monospace;
}
#dashboard h2{
    margin-top: 0px;
    text-align: center;
    font-size: 35px;
    color: lightblue;
}
#dashboard p{
    font-size:20px;
    color:lightblue;
    margin:1vw;
}
/*<>
MAIN SHI DONE
<>*/

/*<>
FOOTER SHI
<>*/
#devPhoneShell{
    top: 17%;
    right: 10vw;
    position: fixed;
    display: flex;
    width: 30vw;
    height: 75vh;
    background:white;
}
#devPhoneFrame{
    display:flex;
    position:relative;
    width:99%;
    height:99%;
    border:2vh solid black; border: 2vw solid black;
    border-radius:15px;
    cursor:pointer;
    background:none;
}
#devPhoneFrame h3{
    right: 34%;
    top: -10%;
    color: red;
    z-index: 99999;
    position: absolute;
    text-shadow:
        0 0 10px red,
        0 0 15px red;
}
#devPhone{
    z-index:9999;
    flex:1;
    background:grey;
}

.phoneUpRun{
    animation: phoneUp 5s ease;
}

@keyframes phoneUp{
    0% {
        transform:translateY(1%);
    }
    
    50% {
        transform:translateY(50%);
    }

    100% {
        transform:translateY(30%);
    }
}
